*{
    margin: 0;
    padding: 0;
}

.heading{
    font-family:monospace;
    text-align: center;
    margin-top: 28px;
    font-size:25px;
    
}
.container{
    text-align: center;
    display: block;
    margin-top: 20%;
}

.btn{
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 3px;
    width: fit-content;
    border: none;
    cursor: pointer;
    margin: 0 8px;

}

#green{
    background-color: green;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#random{
    background-color: aqua;
}


.btn:hover{
    font-size: 30px;
    transition: ease-in-out .5s;
}

.btn:visited{
    
}